<div class="root__container" >

    <header class="main__header">

      <div class="logo__text">
            Nadia Golysheva
      </div>

      <div class="lang-toggle__container">
          <span class="lang-toggle__ita"> ITA </span>
          <span class="lang-toggle__eng"> ENG </span>
          <span class="lang-toggle__rus"> RUS </span>
      </div>

    </header>

    <aside class="side-menu__container">
      <nav class="slide-menu" >
          <section class="menu-body">
            <ul class="menu-links" >
              <li class="menu-link" [routerLinkActiveOptions]="{exact:true}" routerLink="" routerLinkActive="link-active" >Home</li>
              <li class="menu-link">Sculture
                <ul class="menu-links">
                  <li class="menu-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/works" routerLinkActive="link-active" >Emozioni</li>
                  <li class="menu-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/works" routerLinkActive="link-active" >Existentia</li>
                </ul>
              </li>
              <li class="menu-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/about" routerLinkActive="link-active">Biografia</li>
              <li class="menu-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact" routerLinkActive="link-active">Contatti</li>
            </ul>
          </section>
      </nav>
    </aside>

      <!-- Main Content -->

      <!--<router-outlet></router-outlet>-->
      <main class="main__container">
          <router-outlet></router-outlet>
      </main>

      <!-- Footer -->

      <footer class="main__footer">
          <small class="copyright__text">Copyright © 2020 Nadia Golysheva</small>
      </footer>
</div>
